@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-initialized {
	border-radius: 20px !important;
}

.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}
